.App {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 5px;
}
p {
  text-align: center;
  color: #333;
  margin-bottom: 5px;
}